name: Build
on: push

jobs:
  build_release:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: hariolate/that-is-me
          dockerfile: tools/release/Dockerfile
          tags: latest